name: Conventional Commits Check

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  validate_commits:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate Conventional Commits
        uses: webiny/action-conventional-commits@v1.3.0
