# Adapted from https://raw.githubusercontent.com/riscy/melpazoid/master/melpazoid.yml

name: Melpazoid

on: [push]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install emacs and melpazoid
      run: |
        python -m pip install --upgrade pip
        sudo apt-get install emacs && emacs --version
        git clone https://github.com/riscy/melpazoid.git ~/melpazoid
        pip install ~/melpazoid

    - name: Run melpazoid
      env:
        LOCAL_REPO: ${{ github.workspace }}
        RECIPE: (trailing-newline-indicator :fetcher github :repo "saulotoledo/trailing-newline-indicator")
        EXIST_OK: true
      run: echo $GITHUB_REF && make -C ~/melpazoid
